@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    width: 100%;
    background-color: black;
}

.baixo nav ul{
    display: flex;
    align-items: center;
    justify-content: center;

    list-style-type: none;
}

.baixo nav ul li a{
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    transition: 0.3s;
}

.baixo nav ul li a:hover{
    background-color: red;
}

.menu-hover{
    position: relative;
}

.menu-hover .drop{
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.4s;
}

.menu-hover .drop a{
    padding: 20px;
}

.menu-hover:hover .drop{
    height: 180px;
}
